@import "settings"; // foundation settings
@import 'foundation';

// Sass utilities
@import 'util/util';

@include foundation-global-styles;
// @include foundation-grid;
@include foundation-typography;
@include foundation-button;

// Include theme styles
@import "utils/utils";
@import "elements/elements";
// @import "components/components";

body#tinymce {
	overflow-x: hidden;
	background-color: #fff;
	padding: 1rem !important;
	height: auto;

	p:first-of-type {
		margin-top: 0;
	}
}
